# List
* iteration operation with loop
* apply any operation on element

In [2]:
names : list[str] = ['Sir Zia',"Muhammad Qasim","DR Noman"]
for name in names:
    print(name)

Sir Zia
Muhammad Qasim
DR Noman

In [3]:
names = ['Sir Zia', "Muhammad Qasim", "DR Noman"]

i:int = 0 # counter = 0

while i<len(names): # names length =3
    print(names[i])
    i += 1

Sir Zia
Muhammad Qasim
DR Noman

In [4]:
names : list[str] = ['Sir Zia',"Muhammad Qasim","DR Noman"]
for name in names:
    print(f"Welcome dear teacher {name.title()}")

Welcome dear teacher Sir Zia
Welcome dear teacher Muhammad Qasim
Welcome dear teacher Dr Noman

In [7]:
names : list[str] = ['Sir Zia',"Muhammad Qasim","DR Noman"]
for name in names[::-1]:
    print(f"Welcome dear teacher {name.title()}")

    print("Gen AI Team\n")
print("Outside of loop")

Welcome dear teacher Dr Noman
Gen AI Team

Welcome dear teacher Muhammad Qasim
Gen AI Team

Welcome dear teacher Sir Zia
Gen AI Team

Outside of loop

In [9]:
from typing import Tuple

data_base : list[tuple[str,int]] = [("Abbas",105),
                                    ("Hamzah",101),
                                    ("Okasha",102),]

for row in data_base:
    print(row)

('Abbas', 105)
('Hamzah', 101)
('Okasha', 102)

In [12]:
data_base : list[tuple[str,int]] = [("Abbas",105),
                                    ("Hamzah",101),
                                    ("Okasha",102),]

for row in data_base:
    user , password = row
    print(f'User name: {user} & Password: {password}')

User name: Abbas & Password: 105
User name: Hamzah & Password: 101
User name: Okasha & Password: 102

In [16]:
data_base : list[tuple[str,int]] = [("Abbas",105),
                                    ("Hamzah",101),
                                    ("Okasha",102),]
input_user : str = input("Enter user name: ")
input_password : int = int(input("Enter user password: "))

for row in data_base:
    user , password = row
    if input_user == user and  input_password == password:
        print(f"Welcome {input_user.upper()}!")
        break
else:
    print("Invalid user or password")

Welcome ABBAS!

In [17]:
magicians = ['alice', 'david', 'carolina']
for magician in magicians:
    print(f"{magician.title()}, that was a great trick!")
# Here the local variable is accessing outside of the box


print(f"I can't wait to see your next trick, {magician.title()}.\n")

Alice, that was a great trick!
David, that was a great trick!
Carolina, that was a great trick!
I can't wait to see your next trick, Carolina.

In [23]:
#              0        1         2
magicians = ['alice', 'david', 'carolina']

list(enumerate(magicians))

[(0, 'alice'), (1, 'david'), (2, 'carolina')]

In [24]:
#              0        1         2
magicians = ['alice', 'david', 'carolina']

for index, name in enumerate(magicians):
    print(index, name)

0 alice
1 david
2 carolina

# Numbers with loop
* range(start, end, step)

In [18]:
range(10)

range(0, 10)

In [20]:
list(range(10)) # starting 0 , ending = n-1

[2, 3, 4, 5, 6, 7, 8, 9]

In [21]:
list(range(2,10)) # starting 2 , ending = n-1

[2, 3, 4, 5, 6, 7, 8, 9]

In [22]:
list(range(2,21,2)) # starting 2 , ending = n-1 , step

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [25]:
for n in range(1,11):
    print(f'2 x {n} = {2*n}')

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [26]:
squares:list[int] = []
for value in range(1, 11):
    square = value ** 2
    squares.append(square)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# List Comprehensive
```
for item in list_items:
    loop_body
```

### Comprehensive style
```
[loop_body for item in list_items]
  
```

In [27]:
for i in range(1,11):
    print(i**2)

1
4
9
16
25
36
49
64
81
100

In [28]:
[i**2 for i in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [29]:
digits:list[int] = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

print(digits)
print(max(digits))
print(min(digits))
print(sum(digits))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
9
0
45

# Tuples
* immutable -> Not editable

In [35]:
names: tuple[str] = ('A','B','C')
print(names[0:2])
# name[0] = "X"  # error: cannot change

('A', 'B')

In [37]:
names: tuple[str] = ('A','B','C')
names: tuple[str] = ('Karachi','B','C')
names

('Karachi', 'B', 'C')

In [40]:
from typing import Any
data : tuple[Any] = ("A", [1,2,3], True)
data[1].append(4)
print(data)

('A', [1, 2, 3, 4], True)